<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Available projects</title>
  </head>
  <body>

    <div class="container-fluid">
    <h1>Available projects</h1>

    <table class="table">
        <thead class="table-warning">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Effort</th>
            <th scope="col">Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">Timeline</th>
          </tr>
        </thead>
        <tbody>
            {% for p in projects %}
            <tr>
                <th scope="row">{{ p.id }}</th>
                <td>{{ p.name }}</td>
                <td>{{p.effort_str}}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.start_date }}</td>
                <td><a href="{{ p.id }}/timeline"><span class="badge bg-primary">view</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>