<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Timeline for {{project.name}}</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function daysToMilliseconds(days) {
      return days * 24 * 60 * 60 * 1000;
    }

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('string', 'Resource');
      data.addColumn('date',   'Start Date');
      data.addColumn('date',   'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');

      let defaultCompletion = 0;
      let rows = 1; //used to calculate gantt chart  height, starting from 1 to consider dates row on bottom
      
      {% for t in timeline %}
        {% if  t.dependency is None %}
          data.addRow(['{{ t.task_id }}', '{{ t.task_name }}', '{{ t.task_tag }}', new Date('{{ t.start_date }}'), new Date('{{ t.end_date }}'), null,  defaultCompletion,  null]);
          rows++;
        {% else %}
          data.addRow(['{{ t.task_id }}', '{{ t.task_name }}', '{{ t.task_tag }}', new Date('{{ t.start_date }}'), new Date('{{ t.end_date }}'), null,  defaultCompletion,  '{{ t.dependency }}']);
          rows++;
        {% endif %}
      {% endfor %}

      {% if days_off %}
        {% for d in days_off %}
          data.addRow(['do{{ d.id }}', '{{ d.description}}', "day-off", new Date('{{ d.date }}'), null, daysToMilliseconds(1), defaultCompletion, null]);
          rows++;
        {% endfor %}
      {% endif %}

      var options = {
        height: 32*rows,
        gantt: {
          trackHeight: 30,
          barHeight: 10,
          criticalPathEnabled: false,
          sortTasks: false,
          percentEnabled: false,
          arrow: {
            angle: 100,
            radius: 10
          }
        }
      };

      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="column">
        <h1>{{ project.name }} ({{ range.0 }} - {{ range.1 }})</h1>
      </div>
    </div>  
    <div class="row">
      <div class="column" id="chart_div" style="padding-top: 15px; margin-bottom: 20px;"></div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Tasks</h2>
        <table class="table">
          <thead class="table-warning">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Duration (days)</th>
            </tr>
          </thead>
          <tbody>

            {% for t in timeline %}
              <tr>
                <td>{{t.task_id}}</td>
                <td>{{t.task_name}}</td>
                <td>{{t.task_duration}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

    <div class="row"><div class="column" style="margin-top: 20px; margin-bottom: 20px;">   
	    Total duration is <b>{{total_duration}} days</b>.
    </div></div>  

      </div>
      <div class="col">
        {% if days_off %}
        <h2>Project days off</h2>

        <table class="table">
          <thead class="table-warning">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {% for d in days_off %}
            <tr>
              <td>{{ d.date|date:"d/m/Y" }}</td>
              <td> {{ d.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
        </div>

        <div class="row">
          <div class="column">
            <a class="btn btn-outline-primary" href=".." role="button" style="margin: 5px;">Back</a>
          </div>
      </div>
  </div>
  </div>
</body>
</html>
